/* ==========================================================================
   Example media queries because why not
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) { }
	
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
	
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
	body
		padding-left: 0 !important
		padding-right: 0 !important

	.top
		padding: 0 10px 0 10px !important

	.top h1
		font-size: 70px !important

	.sectionTitle
		font-size: 40px !important
	
/* Landscape phones and down */
@media (max-width: 480px)
	body
		padding-left: 0 !important
		padding-right: 0 !important

	.top
		padding: 0 10px 0 10px !important

	.top h1
		font-size: 50px !important

	.sectionTitle
		font-size: 40px !important


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe
	margin: 0.2em 0
	background: #ccc
	color: #000
	padding: 0.2em 0

/* ==========================================================================
   Put your stuff here
   ========================================================================== */

.footer iframe
	width: 95px !important
	height: 30px !important

.row-fluid
	margin-bottom: 30px

.dark
	background: #F7F7F7
	padding-bottom: 30px

.light
	padding-bottom: 30px

.container-narrow
	margin: 0 auto
	max-width: 700px
	padding: 0px 10px

.container-really-narrow
	max-width: 500px !important
	margin: 0px auto
	padding: 0px 10px
	height: 281px
	padding-top: 20px

.top
	background: #282828
	border-bottom: 3px solid orange

.top h1
	color: #FFF
	font-family: 'Source Sans Pro', sans-serif
	font-size: 130px
	display: block
	line-height: 1
	text-shadow: -1px -1px 0px #333

.top p
	-webkit-font-smoothing: antialiased
	color: white
	font-family: 'Source Sans Pro'
	font-size: 45px
	font-weight: 300
	line-height: 53.75px
	text-shadow: -1px -1px 0px #222

.jumbotron
	text-align: center

.jumbotron .btn
	font-size: 21px
	padding: 14px 24px

.actionContainer
	height: 100px
	line-height: 100px

.lead
	margin-bottom: 0px !important

.sample
	margin-bottom: 15px

.sectionTitle
	line-height: 100%
	font-style: italic
	font-family: Georgia, Times New Roman, serif
	font-size: 70px
	padding: 10px
	font-weight: normal
	text-shadow: -1px -1px 0px #666
	margin-top: 25px

h3
	font-family: Georgia, Times New Roman, serif !important
	font-weight: normal
	font-style: italic
	color: #777

.accent
	color: #FF7F00
	font-weight: bold

.footer
	border-top: 3px solid orange
	background: #282828
	color: #DDD
	font-family: 'Source Sans Pro', sans-serif
	text-align: center
	padding: 40px 0px

.footer a
	text-decoration: none
	color: #BBB